.image-container {
  width: 100%;
  height: 250px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.content-scroll {
  --padding-top: 16px;
}

.info {
  padding: 16px;
}

.description {
  margin-top: 12px;
  line-height: 1.5;
}
