// Contenedor de la imagen fija
.image-container {
  width: 100%;
  height: 280px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


// Scroll solo del contenido
.info-content {
  --background: #ffffff;
}

.info-card {
  background: #ffffff;
  border-radius: 24px 24px 0 0;
  margin-top: -24px;
  padding: 20px;
}

// Nombre
.breed-name {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 4px;
}

// Origen
.origin {
  font-size: 14px;
  color: #666;
  margin-bottom: 16px;
}

// Chips de atributos
.attributes {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.chip {
  background: #f1f1f1;
  padding: 8px 12px;
  border-radius: 12px;
  font-size: 13px;
}

.description h3 {
  font-size: 16px;
  margin-bottom: 6px;
}

.description p {
  font-size: 14px;
  line-height: 1.6;
  color: #444;
}
