<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Imagen fija -->
<div class="image-container">
  <img
    *ngIf="breed?.reference_image_id"
    [src]="'https://cdn2.thecatapi.com/images/' + breed.reference_image_id + '.jpg'"
    alt="Cat image"
  />
</div>

<!-- Contenido con scroll -->
<ion-content class="info-content">

  <div class="info-card">
    <h2 class="breed-name">{{ breed?.name }}</h2>

    <p class="origin">
      📍 <span>{{ breed?.origin }}</span>
    </p>

    <div class="attributes">
      <div class="chip">
        🧠 <strong>Intelligence:</strong> {{ breed?.intelligence }}
      </div>
      <div class="chip">
        ⭐ <strong>Adaptability:</strong> {{ breed?.adaptability }}
      </div>
    </div>

    <div class="description">
      <h3>Description</h3>
      <p>{{ breed?.description }}</p>
    </div>
  </div>

</ion-content>
