// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
  --ion-color-primary: #6429cd;
  --ion-color-primary-rgb: 100, 41, 205;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #5824b5;
  --ion-color-primary-tint: #743dd3;
}
