.spinner-center {
  display: block;
  margin: 40px auto;
}

// Lista
.card-list {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

// Card principal
.breed-card {
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 16px;
  padding: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

// Imagen
.image-wrapper {
  width: 70px;
  height: 70px;
  border-radius: 14px;
  overflow: hidden;
  flex-shrink: 0;
  background: #eee;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Info */
.card-info {
  margin-left: 12px;
  flex: 1;
}

.card-info h2 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.origin {
  font-size: 13px;
  color: #777;
  margin: 2px 0 8px;
}

// Chips
.stats {
  display: flex;
  gap: 8px;
}

.chip {
  font-size: 12px;
  background: #f1f1f1;
  padding: 4px 8px;
  border-radius: 10px;
}


// Estilo del Searchbar
.custom-searchbar {
  padding: 0 12px 8px;
}

// Contenedor interno 
.custom-searchbar::part(container) {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  height: 48px;
}

// Input
.custom-searchbar::part(input) {
  font-size: 14px;
  color: #333;
}

// Placeholder
.custom-searchbar::part(placeholder) {
  color: #999;
}

// Icono de búsqueda
.custom-searchbar::part(icon) {
  color: #6429cd;
}

// Botón 
.custom-searchbar::part(clear-button) {
  color: #999;
}
