<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Catbreeds</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar
    class="custom-searchbar"
    placeholder="Search breed"
    (ionInput)="onSearch($event)">
  </ion-searchbar>

  <ion-spinner *ngIf="isLoading" class="spinner-center"></ion-spinner>

  <div class="card-list" *ngIf="!isLoading">
    <div
      class="breed-card"
      *ngFor="let breed of filteredBreeds"
      (click)="goToDetail(breed)"
    >
      <!-- Imagen -->
      <div class="image-wrapper">
        <img
          *ngIf="breed.reference_image_id"
          [src]="'https://cdn2.thecatapi.com/images/' + breed.reference_image_id + '.jpg'"
          alt="Cat"
        />
      </div>

      <!-- Info -->
      <div class="card-info">
        <h2>{{ breed.name }}</h2>
        <p class="origin">{{ breed.origin }}</p>

        <div class="stats">
          <span class="chip">🧠 {{ breed.intelligence }}</span>
          <span class="chip">⭐ {{ breed.adaptability }}</span>
        </div>
      </div>
    </div>
  </div>

</ion-content>
