<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Catbreeds</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar
    placeholder="Search breed"
    (ionInput)="onSearch($event)">
  </ion-searchbar>

  <ion-spinner *ngIf="isLoading" class="spinner-center"></ion-spinner>

  <ion-list *ngIf="!isLoading">
    <ion-card *ngFor="let breed of filteredBreeds" (click)="goToDetail(breed)" button>
      <ion-card-header>
        <ion-card-title>{{ breed.name }}</ion-card-title>
        <ion-card-subtitle>{{ breed.origin }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p><strong>Intelligence:</strong> {{ breed.intelligence }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>

